{
  "arrowParens": "avoid",
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "semi": true,
  "trailingComma": "none",
  "svelteSortOrder": "scripts-styles-markup",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false
}
